<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding 
                  name="BasicHttpBinding_IServiceWcf" 
                  maxBufferSize="2055360000"
                  maxReceivedMessageSize="2055360000"
                  closeTimeout="00:10:00"
                  openTimeout="00:10:00"
                  receiveTimeout="01:00:00"
                  sendTimeout="00:10:00"
                />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/ServiceWcf/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWcf"
                contract="ServiceReference.IServiceWcf" name="BasicHttpBinding_IServiceWcf" />
        </client>
    </system.serviceModel>
</configuration>